<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>外卖小哥</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <!-- 引入YDUI样式 -->
    <link rel="stylesheet" href="/public/index/css/ydui.css" />
    <!-- 引入YDUI自适应解决方案类库 -->
    <script src="/public/index/css/ydui.flexible.js"></script>
</head>
<body>
<section class="g-flexview">

    <header class="m-navbar">
        <div class="navbar-center">
            <span class="navbar-title">配送记录</span>
        </div>
    </header>
    <section class="g-scrollview">

        <article class="m-list list-theme4">
            <a href="javascript:;" class="list-item">
                <div class="list-img">
                    <img src="http://static.ydcss.com/uploads/ydui/goods_default.jpg" data-url="http://img1.shikee.com/try/2016/06/19/09430120929215230041.jpg_180x180.jpg">
                </div>
                <div class="list-mes">
                    <h3 class="list-title">状元米线</h3>
                    <div class="list-mes-item">
                        <div>
                            <p class="list-price">刘晓红 15167008912</p>
                            <p class="list-price">北京市武定门23号-1-223</p>
                            <p>下单时间：2018-1-2</p>
                            <p>完成时间：2018-1-2</p>
                        </div>
                    </div>
                </div>
            </a>
        </article>

    </section>
    <footer class="m-tabbar tabbar-fixed">
        <a href="/del_cont" class="tabbar-item">
        <span class="tabbar-icon">
            <i class="icon-clock"></i>
        </span>
            <span class="tabbar-txt">配送中</span>
        </a>
        <a href="/del_conted" class="tabbar-item tabbar-active">
        <span class="tabbar-icon">
            <i class="icon-feedback"></i>
        </span>
            <span class="tabbar-txt">配送记录</span>
        </a>
    </footer>

</section>

<!-- 引入jQuery 2.0+ -->
<script src="/public/index/css/jquery.min.js"></script>
<!-- 引入YDUI脚本 -->
<script src="/public/index/css/ydui.js"></script>
<!-- 获取cookie脚本 -->
<script src="/public/index/css/jquery.cookie.js"></script>

</body>
</html>