<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点赞狂魔</title>
    <link rel="stylesheet" href="/smallpro/public/css/demo.css">
</head>
<body>
    <h1 class="title">
        点赞狂魔
    </h1>
    <div class="logoimg">
       <img src="/smallpro/public/img/sucai.jpg">
    </div>
    <div class="info">
        <p>您已经点赞<span id="click-nbr"></span>次</p>
        <p class="fenghao">获封“点赞魔头”</p>
    </div>
    <div class="butcla">
        <div id="btn-add">
            点赞
        </div>
        <div id="btn-delete" style="float: right; color: black; background:#c1c1c1;">
            清零
        </div>
    </div>
    <script type="text/javascript" src="/controllers/clickController.client.js"></script>
</body>
</html>